@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #474747;
}
::-webkit-scrollbar-thumb{
  background-color: #707070;
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --timeing: 0.8s;
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.menu-button {
  --button-color: #4dd5ff;
  background: transparent;
  cursor: pointer;
  opacity: 0;
}


.button-two .line {
  transform-origin: center;
}
.button-two .line.top {
  animation: to-open-icon-top var(--timeing) forwards;
  --rotation: -45deg;
  --transformY: translateY(15px);
}

.button-two .line.bot {
  animation: to-open-icon-bot ease-in-out var(--timeing) forwards;
  --rotation: 45deg;
  --transformY: translateY(-15px);
}

.button-two[aria-expanded="true"] .line.top {
  --rotation: -45deg;
  animation: to-close-icon-top ease-in-out var(--timeing) forwards;
}

.button-two[aria-expanded="true"] .line.bot {
  --rotation: 45deg;
  animation: to-close-icon-bot ease-in-out var(--timeing) forwards;
}

/* Close */

@keyframes to-close-icon-top {
  0% {
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
    transform: var(--transformY);
  }
}
@keyframes to-close-icon-bot {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
    transform: var(--transformY);
  }
}

@keyframes to-open-icon-top {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 79.9;
  }
  0% {
    stroke-dashoffset: 0;
    transform: var(--transformY);
    rotate: var(--rotation);
  }
}
@keyframes to-open-icon-bot {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 79.9;
  }
  0% {
    stroke-dashoffset: 0;
    transform: var(--transformY);
    rotate: var(--rotation);
  }
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.mobile-ham{
  position: absolute;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  inset:0 0 -90vh 0;
  overflow: hidden;
}
.mobile-ham[aria-expanded="true"]{
  animation: slide-in 0.6s ease-in-out forwards;
}

.mobile-ham[aria-expanded="false"]{
  animation: slide-out 0.6s ease-out forwards;
}


@keyframes slide-in {
  0%{
    transform: translateX(100vh);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slide-out {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100vh);
  }
}


